extends ../layout

block content
    h1.
        ID: #{blob._id}
    p Naziv: #{blob.naziv}
    p Opis: #{blob.opis}
    p Cijena: #{blob.cijena}
    p Clanovi: #{blob.clanovi}
    p Datum Pocetka: #{blob.datumPocetka}
    p Datum Zavrsetka: #{blob.datumZavrsetka}
    p Obavljeni poslovi: #{blob.obavljeniPoslovi}